/* =====================================
GENERAL
=========================================================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html{
    font-size: 14px;
    font-family: 'Acme', sans-serif;
}

body{
    width: 100%;
    height: 100%;
    /* font-family: 'Acme', sans-serif; */
    background: #111318;
    overflow-x: hidden;
}

/* =====================================
NAVIGATION
=========================================================*/
.navbar-custom{
    background-color: #041230;
}

.logo-title{
    color:orange;
    font-style: italic;
} 

.icon-color{
    background: orange;
}

.nav-link-custom{
    color: #fff !important;
    transition: 1s;
}

.nav-link-custom:hover{
    color: orange !important;
}

/* =====================================
BANNER
=========================================================*/
#banner{
    background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .6)), url(../images/lap-1.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
}

#banner h2{
    padding-top: 20%;
    text-align: center;
    font-size: 4em;
    color: white;
}

#banner p{
    text-align: center;
    color: white;
    font-size: 50px;
}

#banner span{
    color: orange;
}

/* =====================================
ABOUT SECTION
=========================================================*/
.about-heading{
    color: orange;
    padding-top: 20px;
}

.about-text p{
    line-height: 30px;
}


/* =====================================
SKILLS SECTION
=========================================================*/
#skills{
    background: white;
    width: 100%;
    height: auto;
}

.skills-heading{
    color: orange;
}

.skill-image{
    width: 40%;
}

.skill-image-1{
    width: 30%;
}

/* =====================================
PROJECTS SECTION
=========================================================*/
.project-title{
    color: orange;
}

#hover-project-img{
    overflow: hidden;
    display: block;
}

.project-img {
    transition: 1s;
    backface-visibility: hidden;
}

#hover-project-img:hover .project-img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.btn-custom{
    background: orange;
    
}

/* =====================================
CONTACT SECTION
=========================================================*/
#contact{
    text-align: center;
}
#contact h2{
    color: orange;
}

#contact p{
    color: #fff;
}

/* =====================================
FOOTER SECTION
=========================================================*/
footer{
    background-color: #041230;
    padding: 20px;
    text-align: center;
    color: #fff;
}


/* =====================================
MEADIA QUERY SECTION
=========================================================*/
@media(max-width: 580px) {
    nav ul li a{
        visibility: hidden;
    }

    nav{
        height: 50px;
    }

    #banner h2{
        font-size: 36px;
        color: white;
    }

    .about-content{
        display: block;
    }

    .skills-icons,
    .hobbies-icons{
        display: block;
    }

    .project-content{
        flex-direction: column;
    }

    .project-content-1{
        margin-top: 20px;
    }
}